/* Universal Styles */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  background-color: white;
}

body {
  line-height: 1.2;
}

.container {
  width: 960px;
  height: 100%;
  margin: auto;
}

.flex {
  display: flex;
}

/* Header */

header {
  width: 100%;
  height: 3.75rem;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}

nav {
  width: 960px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav span {
  color: hsl(0, 0%, 0%);
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:600; font-stretch:normal;
  font-size: 1.125rem;
  letter-spacing: 1.5px;
  line-height: 1;
  margin-right: 1rem;
  width: 9rem;
}

nav .menu {
  margin-right: 0.625rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
  color: hsl(0, 0%, 0%);
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:600; font-stretch:normal;
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1;
}

/* Banner Section */

.banner {
  height: 33rem;
  margin-top: 3.75rem;
  padding-top: 1.5rem;
  background-image: url("https://images.unsplash.com/photo-1526880792616-4217886b9dc2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8c76d3849e99e31153445b77e2a17412&auto=format&fit=crop&w=675&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  }

.main-banner {
  margin: auto;
}

h1 {
  width: 27rem;
  color: hsl(0, 0%, 0%);
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:500; font-stretch:normal;
  font-size: 2.625rem;
  letter-spacing: -0.8px;
  line-height: 1;
  text-align: center;
  margin: 170px auto auto auto;
}

.button {
  width: 7.5rem;
  height: 2.5rem;
  background-color: hsl(0, 0%, 0%);
  border-radius: 4px;
  overflow: visible;
  margin: 1.5rem auto 0 auto;
  display: flex;
  align-items: center;
}

.button span {
  color: rgba(255, 255, 255, 1.00);
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:600; font-stretch:normal;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 1.3;
  margin: auto;
}

/*Supporting Section*/

.supporting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature {
  width: 18.75rem;
  margin-top: 2.375rem;
}

.feature p {
  margin-top: 1.5rem;
}

.title {
  color: hsl(0, 0%, 0%);
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:600; font-stretch:normal;
  font-size: 1.125rem;
  letter-spacing: -0.1px;
  line-height: 1;
}

p {
  color: rgb(0, 0, 0);
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 1.3;
}

/*Product-list Page*/

/*Content Section*/

.content {
  margin-top: 3.75rem;
}

.content .product-tile {
  display: flex;
  flex-wrap: wrap;
}

.product-image, .product-intro {
  width: 50%;
  height: 22rem;
}

.product-tile .img1 {
  background-image: url("https://i.imgur.com/wmmHImI.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-tile .img2 {
  background-image: url("https://i.imgur.com/q6YCCxD.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-tile .img3 {
  background-image: url("https://i.imgur.com/PsqiWvB.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-tile .img4 {
  background-image: url("https://i.imgur.com/V4zsnLV.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-tile h1, .product-tile h2, .product-tile p {
  margin-left: 5rem;
}

.product-tile h2 {
  color: hsl(0, 0%, 0%);
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:500; font-stretch:normal;
  font-size: 1.125rem;
  letter-spacing: -0.1px;
  line-height: 1;
  margin-top: 3rem;
}

.product-tile h1 {
  width: 22rem;
  text-align: left;
  margin-top: 1rem;
}

.product-tile p {
  width: 18rem;
  margin-top: 1rem;
}

/*Product Detail*/

.detail-banner {
  height: 33%;
  margin-top: 3.75rem;
  background-image: url("https://i.imgur.com/wmmHImI.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  }

.product-detail-rp {
  height: 33%;
  margin-top: 3.75rem;
  background-image: url("https://i.imgur.com/q6YCCxD.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.product-detail-bp {
  height: 33%;
  margin-top: 3.75rem;
  background-image: url("https://i.imgur.com/PsqiWvB.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.product-detail-fpp {
  height: 33%;
  margin-top: 3.75rem;
  background-image: url("https://i.imgur.com/V4zsnLV.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}


.detail-product-intro {
  width: 28.75rem;
  height: auto;
  margin: 3rem 0 3rem auto;
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
  background-color: hsl(0, 0%, 100%);
  overflow: visible;
}

.detail-product-intro h2,
.detail-product-intro h1,
.detail-product-intro p,
.detail-product-intro .price {
  margin-left: 3.75rem
}

.detail-product-intro h2 {
  display: block;
}

.detail-product-intro h1 {
  margin-top: 1rem;
  text-align: left;
  width: 300px;
}

.detail-product-intro p {
  margin-top: 1.5rem;
  width:  18rem;
}

.detail-product-intro .price {
  margin-top: 1.5rem;
  font-family: 'Roboto Mono', monospace;
}

/*Product Spec*/

.detail-spec {
  margin-top: 4.5rem;
  display: flex;
  justify-content: space-between;
}

.spec-color {
  width: 50%;
  margin-right: 1.25rem;
}

.spec-color .title,
.spec-fill .title {
  margin-bottom: 24px;
}

.color-options,
.fill-options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.spec-color-option1,
.spec-color-option2,
.spec-color-option3,
.spec-color-option4 {
  width: 220px;
  height: 40px;
  border: 1.5px solid hsla(0, 0%, 0%, 0.1);
  border-radius: 8px;
  overflow: visible;
  display: flex;
  align-items: center;
  padding-left: 9px;
  margin-bottom: 12px;
}

.spec-color-option1:hover,
.spec-color-option2:hover,
.spec-color-option3:hover,
.spec-color-option4:hover {
 border: 1.5px solid black;
 box-shadow: inset 0px 0px 0px .5px black;
}

.color-swatch {
  width: 44px;
  height: 20px;
  margin-right: 9px;
}

.spec-color-option1 .color-swatch {
  background-color: rgba(119, 143, 95, 1.00);
  border-radius: 2px;
  overflow: visible;
}

.spec-color-option2 .color-swatch {
  background-color: #89D1C6;
  border-radius: 2px;
  overflow: visible;
}

.spec-color-option3 .color-swatch {
  background-color: #BFBFBF;
  border-radius: 2px;
  overflow: visible;
}

.spec-color-option4 .color-swatch {
  background-color: #7EADB8;
  border-radius: 2px;
  overflow: visible;
}

.name {
  font-size: 0.875rem;
}

.spec-fill {
  width: 50%;
}

.spec-fill-option1,
.spec-fill-option2,
.spec-fill-option3 {
  width: 140px;
  height: 40px;
  border: 1.5px solid hsla(0, 0%, 0%, 0.1);
  border-radius: 8px;
  overflow: visible;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.spec-fill-option1:hover,
.spec-fill-option2:hover,
.spec-fill-option3:hover {
 border: 1.5px solid black;
 box-shadow: inset 0px 0px 0px .5px black;
}

.fill-options .name {
  margin: auto;
}

.detail-review {
  margin-top: 60px;
}

.detail-review .title {
  margin-bottom: 24px;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start;
}

.review1,
.review2,
.review3,
.review4 {
  margin-bottom: 36px;
  display: flex;
}

.reviews img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: visible;
  margin-right: 20px;
}

.reviews .review {
  width: 540px;
  color: rgb(0, 0, 0);
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 1.3;
}

/*Adding to shopping cart banner*/

.shopping-bar {
  width: 100%;
  height: 80px;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #F3F3F3;
  overflow: visible;
}

.shopping-bar .container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-cta {
  width: 140px;
  height: 40px;
  background-color: hsl(0, 0%, 0%);
  border-radius: 8px;
  overflow: visible;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1.2;
  margin-right: 20px;
  margin-left: auto;
}

.btn-regular {
  width: 140px;
  height: 40px;
  background-color: rgba(255,255,255,1);
  border: 2px solid #000000;
  border-radius: 8px;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1.2;
  box-sizing: border-box;
  margin-right: 0px;
}

.btn-regular:hover {
  background-color: black;
  color: white;
}

.item-quantity {
  color: black;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1.2;
  margin-right: 0;
}

.number {
  font-family: 'Roboto Mono', monospace;
}

.whitebox {
  height: 100px;
}


/*Shopping Cart Page*/

.shopping-cart-header h1 {
  margin-top: 100px;
  margin-bottom: 60px;
}

.item {
  margin-bottom: 100px;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.item-img {
  width: 160px;
  height: 100px;
  border-radius: 8px;
  overflow: visible;
  background-image: url("https://i.imgur.com/wmmHImI.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-right: 60px;
}

.item-info {
  height: 100px;
}

.item-name {
  margin-bottom: 34px;
}

.item-options .title {
  text-align: left;
  padding-bottom: 14px;
  width: 200px;
}

.item .btn-regular:hover {
  background-color: black;
  color: white;
}
